body { 
    background-color: beige; 
    font-family: arial ; 
    color: black;
}  
 
 .main { 
     border: 2px solid rgb(56, 56, 250);  
     border-style: dashed;
     margin-top: 20px;  
     align-items: center;  
     background-color: rgb(255, 255, 255); 
     margin-left: 250px; 
     margin-right: 250px;


} 
.top { 
    border: 2px solid rgb(56, 56, 250);  
     border-style: dashed; 
     
} 

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
  margin-left: 5px; 
  margin-right: 5px;
}